//変数例
// $cWhite: white;
// $cBlack: black;
// $cSubTitle: #535353;
// $cBgGray: #eaebe6;
// $cWineRed: #904669;
// $contentMaxWidth: 1070px;
// $navHeight: 100px;

$ColorWhite: white;
$ColorBlack: black;
$ColorGray: #707070;
$ColorOrenge: rgba(252, 216, 194, 0.7);
$ContentCover: rgba(0, 0, 0, 0.4);
$navHeight: 100px;
